body {
  margin: 20px;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffdfdf;
  background: linear-gradient(#ffbfbf, white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: flex;
  flex-direction: column;
  margin-top:60px !important;
  max-width: 450px;
}

.weather-condition{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.weather-condition span{
  margin:50px 0px 0 8px;
  font-size: 20px;
}
.weather-condition span span{
  font-size: 15px;
  margin-left:0px;
}
.weather-logo{
  width: 140px;
  margin:0px auto;
}

.weather-info-label{
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  margin: 10px;
  width: 100%;
}

.WeatherInfoContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width:90%;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin:20px;
}
.infoContainer .infoIcon img{
  width:40px;
}
.infoLabel{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin: 0px 15px;
}
.infoIcon i{
  color: #555;
}
.form{
  margin:0px auto;
}
.search-button{
  padding: 10px 17px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  margin-left: 10px;
}